# This file is an example config file.
# See https://github.com/Klipper3d/klipper/blob/master/docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f429xx_2E0052001750305031353020-if00

#[board_pins]
#aliases:
#    # EXP1 header
#    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE10, EXP1_7=PE12, EXP1_9=<GND>,
#    EXP1_2=PB0, EXP1_4=PE9, EXP1_6=PE11, EXP1_8=PE13, EXP1_10=<5V>,
#    # EXP2 header
#    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
#    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>

[display]
lcd_type: emulated_st7920
##   Set to "emulated_st7920" for emulated_st7920 displays.
en_pin: PA4
# PA4
## The en_pin corresponds to the cs_pin of the st7920 type lcd
spi_software_sclk_pin: PE10
# PA5
spi_software_mosi_pin: PB1
# PA7
spi_software_miso_pin: PA5
# PA6
##   The pins connected to an emulated_st7920 type lcd. The en_pin
##   corresponds to the cs_pin of the st7920 type lcd,
##   spi_software_sclk_pin corresponds to sclk_pin and
##   spi_software_mosi_pin corresponds to sid_pin. The
##   spi_software_miso_pin needs to be set to an unused pin of the
##   printer mainboard as the st7920 as no MISO pin but the software
##   spi implementation requires this pin to be configured.
encoder_pins: ^PE7, ^PB2
click_pin: ^!PB0

[output_pin beeper]
pin: PC5

########################################
# Stepper X Pins and TMC2208 configuration
########################################
[stepper_x]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE3
microsteps: 16
rotation_distance: 40
endstop_pin: !PC1
position_endstop: 0
position_max: 310
homing_speed: 50

[tmc2208 stepper_x]
uart_pin: PE0
run_current: 0.800
stealthchop_threshold: 999999

########################################
# Stepper Y Pins and TMC2208 configuration
########################################
[stepper_y]
step_pin: PD5
dir_pin: PD4
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
endstop_pin: !PC3
position_endstop: 0
position_max: 310
homing_speed: 50

[tmc2208 stepper_y]
uart_pin: PD3
run_current: 0.800
stealthchop_threshold: 999999

########################################
# Stepper Z Pins and TMC2208 configuration
########################################
[stepper_z]
step_pin: PA15
dir_pin: PA8
enable_pin: !PD1
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
homing_speed: 10
second_homing_speed: 1
position_min: -2
position_max: 340

[tmc2208 stepper_z]
uart_pin: PD0
run_current: 0.800
stealthchop_threshold: 999999

########################################
# Extruder Pins and TMC2208 configuration
########################################
[extruder]
step_pin: PD15
dir_pin: !PD14
enable_pin: !PC7
microsteps: 16
rotation_distance: 34.2152 # Calibrar - ver https://www.klipper3d.org/Rotation_Distance.html
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB3
sensor_type: Generic 3950
sensor_pin: PA2 #thermistor pin
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 250

[tmc2208 extruder]
uart_pin: PC6
run_current: 0.800
stealthchop_threshold: 999999

########################################
# Heater Bed Pins
########################################
[heater_bed]
heater_pin: PD7
sensor_type: Generic 3950
sensor_pin: PA1
#control: pid
#pid_Kp: 54
#pid_Ki: 0.77
#pid_Kd: 900
min_temp: 0
max_temp: 110

########################################
# Printer Configuration
########################################
[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 1000
max_z_velocity: 5
max_z_accel: 100

########################################
# Probe configuration
########################################
[probe]
pin: ^!PE4
#z_offset: 0.0
x_offset: 0.0
y_offset: 0.0
speed: 10.0
samples: 2
samples_result: average
sample_retract_dist: 2.0
samples_tolerance: 0.2

[safe_z_home]
home_xy_position: 155,155
speed: 100
z_hop: 5
z_hop_speed: 5

[output_pin probe_enable]
pin: PE5
value: 1

########################################
# Bed Mesh configuration
########################################
[bed_mesh]
speed: 2000
horizontal_move_z: 3
mesh_min: 20, 20
mesh_max: 290, 290
probe_count: 7, 7
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2

########################################
# Fan Nozzle configuration
########################################
[fan]
pin: PB7

[heater_fan Cooling_fan]
pin: PB6
max_power: 1.0
kick_start_time: 0.100
heater: heater_bed

[heater_fan Board_fan]
pin: PB5
max_power: 1.0
kick_start_time: 0.100
heater: extruder

########################################
# Filament Sensor configuration
########################################
[filament_switch_sensor Sensor_Filamento]
switch_pin: !PC2
pause_on_runout: true #pause handled by macro

########################################
# Motor Power Pin
########################################
[output_pin motor_power]
pin: PC13
value: 1

[virtual_sdcard]
path: /opt/printer_data/gcodes

[display_status]

[pause_resume]

[gcode_macro M205]
gcode:
  {% if 'X' in params %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={params.X}
  {% elif 'Y' in params %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={params.Y}
  {% endif %}

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.380
#*# pid_ki = 1.209
#*# pid_kd = 133.247
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 76.014
#*# pid_ki = 1.267
#*# pid_kd = 1140.205
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.636250, 0.353750, 0.243750, 0.136250, -0.096250, -0.258750, -0.585000
#*# 	  0.317500, 0.245000, 0.048750, -0.101250, -0.323750, -0.426250, -0.721250
#*# 	  0.245000, 0.162500, -0.025000, -0.188750, -0.345000, -0.548750, -0.753750
#*# 	  0.136250, 0.066250, -0.151250, -0.188750, -0.362500, -0.542500, -0.798750
#*# 	  0.177500, 0.022500, -0.115000, -0.320000, -0.435000, -0.586250, -0.850000
#*# 	  0.041250, -0.098750, -0.217500, -0.338750, -0.460000, -0.590000, -0.850000
#*# 	  0.017500, -0.088750, -0.248750, -0.470000, -0.581250, -0.738750, -0.892500
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 7
#*# max_y = 290.0
#*# mesh_x_pps = 2
#*# max_x = 290.0
#*#
#*# [probe]
#*# z_offset = -0.501
